body {
  line-height: 1.618;
  color: #4a4a4a;
  background-color: #f9f9f9;
  font-family: '華康儷粗圓(P)', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (max-width: 684px) {
  body {
    font-size: 1.35rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
} */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: 'FOT-Humming Std', 'FZFW Qing Yin TiS' ,'AR DCQingYuanSGB', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

